<header>
  <mat-toolbar class="mat-elevation-z5">
    <mat-card fxFlex="100">
      <div fxLayout="row">
        <div fxFlex="20" class="logo">Project Logo</div>
        <span class="spacer"></span>
        <ng-container *ngFor="let headerData of navData">
          <div class="loginSection">
            <button class="header-nav" mat-flat-button>
              {{ headerData?.moduleName }}
            </button>
            <ng-container *ngIf="router.url.toLowerCase() !== '/'">
              <ng-container *ngIf="headerData?.isSubMenu">
                <mat-icon class="icon-expand">expand_more</mat-icon>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
        <ng-container *ngIf="router.url.toLowerCase() !== '/'; else loginPage">
          <div fxFlex="10" class="float-left">
            <mat-icon>notifications_none</mat-icon>
          </div>
        </ng-container>
        <ng-template #loginPage>
          <div class="loginSection">
            <button class="header-nav teacher-login" mat-flat-button>
              Teachers login
            </button>
          </div>
        </ng-template>
      </div>
    </mat-card>
  </mat-toolbar>
</header>
