@import "../../assets/styles/colorVariable.scss";
:host {
  display: flex;
  justify-content: center;
  margin: 150px 0px;
}
::ng-deep .login-container .mat-form-field-infix {
  width: 25em;
}

::ng-deep .login-container .mat-form-field-label {
  color: $black;
  font-size: 18px;
}

.login-container {
  &-heading {
    justify-content: center;
    display: flex;
    font-size: 22px;
    font-family: cursive;
    color: $black;
    padding: 0 0.3em 0 0.3em;
    top: -2em;
    position: relative;
  }
  &-sub-heading {
    justify-content: center;
    display: flex;
    font-size: 16px;
    top: -2em;
    position: relative;
    font-family: sans-serif;
  }
}

.button-div {
  &-login- {
    float: right;
    width: 5em;
    height: 2.2em;
    border-radius: 4px;
    border: 1px solid $yellow;
    background-color: $yellow;
    color: $white;
  }
  &-forgot {
    color: $blue;
    font-size: 16px;
  }
}

.sign-up {
  justify-content: center;
  text-align: center;
  &-message {
    position: relative;
    font-size: 14px;
    left: 6em;
    display: flex;
    padding: 1em;
    &-link {
      color: $blue;
      color: $blue;
      font-size: 14px;
    }
  }
}
