// create bluescale

$blue: #386cb5 !default;
$blue-2: #4e84cf !default;
$blue-3: #5086d2 !default;
$blue-4: #669fed !default;
$blue-5: #639be7 !default;
$blue-6: #747beb !default;
$blue-7: #989eff !default;

// create yellowscale

$yellow: #fec006 !default;
$yellow-1: #f6ac1e !default;
$yellow-2: #f6ad1e !default;
$yellow-3: #ffb239 !default;
$yellow-4: #ffc76e !default;

// create redscale

$red: #fd1010 !default;
$red-1: #f96017 !default;
$red-2: #fd1110 !default;
$red-3: #ff4444 !default;

// Create whitescale

$white: #ffffff !default;
$white-1: #f0f0f0 !default;

// Create blackscale

$black: #000000 !default;
$black-1: #212121 !default;
$black-2: #222222 !default;
$black-3: #2222221a !default;
$black-4: #222222 !default;

// Create grayscale

$gray: #707070 !default;
$gray-2: #2222221a !default;
$gray-3: #00000029 !default;
$gray-4: #eeeeee !default;
$gray-5: #0000001a !default;
$gray-6: #dddddd !default;
$gray-7: #cccccc !default;
$gray-8: #aaaaaa !default;

// create greenscale

$green: #40cc3b !default;
$green-1: #08b596 !default;
$green-2: #27d3b4 !default;
